<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div data-controller="hello">
  <input data-hello-target="name" type="text" />
  <input type="text" data-hello-target="concat" />
  <button data-action="click->hello#greet">Greet</button>
</div>
<div data-controller="testajax">
  <input type="text" data-testajax-target="result" />
  <button data-action="click->testajax#makeRequest">Make a call</button>
  <button data-action="click->testajax#justChange">Just text</button>
</div>
